.page-content{
    margin: auto;
    background-color:#CCCCFF ;
}
.hero-section{
}
.medicine-img{
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    align-content: flex-end;
    text-align: end;
}