:root {
  --bg-color: #ffffff;
  --second-bg-color: #e5eaf3;
  --text-color: #000000;
  --main-color: #0ef;
}

.footer_left {
  font-size: 20px;
  text-align: center;
}

.footer {
  background-color: var(--second-bg-color);
  padding: 20px 0;
  text-align: center;
  border-top: 1px solid #000000;
  height: 250px;
}

#about {
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  padding-right: 15px;
}

#about #about_header {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  display: block;
}

#about div a {
  text-decoration: none;
  color: #333;
  display: block;
  margin-bottom: 15px;
}

#about div a:hover {
  color: #0077b5;
}

.column-divider::before {
  content: "";
  display: block;
  height: 100%;
  width: 1px;
  background-color: #ccc;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.email {
  border: 1px solid #ccc;
  border-radius: 16px;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  width: 100%;
}

.button {
  background-color: #0056b3;
  color: #fff;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 16px;
  font-size: 16px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  line-height: 30px;
}

.github {
  font-size: 35px;
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}

.social-media a {
  margin: 0 10px;
  font-size: 25px;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #333;
}

.social-media a.linkedn,
.social-media a.github,
.social-media a.mail {
  color: grey;
}

.social-media a.linkedn:hover {
  background-color: #0077b5;
  color: white;
}

.social-media a.github:hover {
  background-color: #000000;
  color: white;
}

.social-media a.mail:hover {
  background-color: #db4437;
  color: white;
}

#copy {
  margin-top: 20px;
}

#copy p {
  font-weight: bold;
}
