.loading-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(249, 0, 0, 0.8); /* Overlay arka plan rengi */
  z-index: 1000; /* Overlay'in diğer öğelerin üzerinde olmasını sağlar */

}

  .loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loading-screen.hidden {
    opacity: 0;
    pointer-events: none; /* Arkaplandaki içeriğe tıklanabilirliği önlemek için */
  }
  
  .loading-screen.visible {
    opacity: 1;
  }
  