.navbar-nav {
  display: flex;
  align-items: center;
}

.navbar-nav .nav-link {
  font-size: 18px;
  transition: font-size 0.3s ease-in-out, color 0.3s ease-in-out;
  color: #909090;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  color: #000000;
  font-size: 20px;
}

.nav-link:first-child {
  margin-left: 0px;
}

.navbar {
  border-bottom: 1px solid #000;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  margin-left: 0;
}

.btn {
  background-color: #e300d4;
  color: #fff;
}

.btn:hover {
  background-color: #e300d4;
  color: #000;
  box-shadow: 0 0 0.4rem #e300d4;
}

.search {
  border-radius: 8px !important;
  border-color: #000 !important;
  border: 1px solid #000 !important;
}
