header h1 {
  color: rgb(0, 0, 0);
  text-align: left;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 20px;
  font-weight: bold;
}

header h2 {
  color: rgb(0, 0, 0);
  text-align: left;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: bold;
  text-shadow: 50px 50px 100px rgba(52, 0, 143, 0.3);
}

.search_button_search_section {
  font-size: 24px;
}

.drugs-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;
}

header {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.search-box {
  display: flex;
  align-items: center;
}

.search-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #000;
  font-weight: bold;
  font-size: larger;
  outline: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-right: none;
  width: 700px;
  height: 60px;
}

.search-icon {
  background-color: #f82727;
  color: white;
  padding: 10px;
  padding-left: 18px;
  border-radius: 0 20px 20px 0;
  height: 60px;
  width: 60px;
  align-items: center;
  cursor: pointer;
  display: flex;
  margin-left: -1px;
}

.options {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 20px;
}

.option {
  flex: 1;
  width: 120px;
  padding: 10px 20px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 20px;
  background-color: #cbcaca;
  color: white;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

.option:hover {
  background-color: #fb7e7e;
}

.selected {
  background-color: #d00000;
}
