.cards-section{
    display: flex;
    flex-direction: row;
    margin: auto;
}

.card{
    margin: 40px;
}
.navbar{
    background-color: #9966FF;
    height: 90px;
}
.btn{
    background-color: #9999FF;
    color:white;
}
.btn:hover{
    color: black;
}

