body {
  background-color: #f6f6f6; /* Gri tonunda arka plan rengi */
}
.card-medicine {
  border: 5px solid rgb(249, 97, 252); /* 2 piksel kalınlığında siyah renkli kenarlık */
  border-radius: 20px; /* Köşeleri yuvarlatma */
  padding: 32px; /* İçeriği kenarlıklardan ayırmak için iç boşluk */
  margin-top: 150px;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
  transition: transform 0.5s ease-in-out; /* Animasyon için geçiş efekti ekleyin */
}

.card-medicine:hover {
  transform: scale(1.1);

  box-shadow: 0 0 10px rgba(103, 2, 99, 0.9);
}
.row {
  margin: 1px; /* Kartların arasındaki boşluğu negatif margin ile azaltın */
}

.card-medicine div,
.card-medicine h2,
.card-medicine p,
.card-medicine h3 {
  font-family: "Open Sans", sans-serif !important; /* Örnek bir font türü, ihtiyaca göre değiştirilebilir */
  color: rgb(0, 0, 0) !important; /* Yazı rengi */
  font-size: 24px !important; /* Yazı boyutu */
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.page-link {
  background-color: rgb(249, 97, 252);
  color: #f6f6f6;
}

.search_section {
  margin-top: 120px;
}


.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 200px;
}