body {
  background-color: #f6f6f6;
}

.card-medicine {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 30px; 
  padding: 16px; 
  margin: 40px 5px; 
  font-weight: bold;
  transition: transform 0.5s ease-in-out;
}

.card-medicine:hover {
  transform: scale(1.04);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.9);
}

.row {
  margin: 1px;
}

.card-medicine div,
.card-medicine h2,
.card-medicine p,
.card-medicine h3 {
  font-family: "Open Sans", sans-serif !important;
  color: rgb(0, 0, 0) !important;
  font-size: 24px !important;
  text-align: center; 
}

.card-medicine .card-title{
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 30px;
}


.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.page-link {
  background-color: #f82727;
  color: #f6f6f6;
}

.search_section {
  margin-top: 170px;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 200px;
}


.pagination-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-item {
  margin: 0;
}

.page-link {
  padding: 10px 15px;
  text-decoration: none;
  cursor: pointer;
  color: #000000;
  margin-bottom: 30px;
}

.page-link:hover {
  color: #000000; 
}

.activep .page-link {
  background-color: #f3f3f3;
  border: 1px solid  #000000;
  color: #000000; 
}


.card-medicine .card-text3{
  font-weight:100;
  font-size: 15px !important;
  color: #000000 !important;
}

.content-wrapper {
  margin-top: 20px;
}

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.page-link:hover {
  text-decoration: underline;
}

.activep {
  font-weight: bold;
}

.card-medicine {
  transition: transform 0.3s;
}

.card-medicine:hover {
  transform: scale(1.05);
}